body {color: rgb(242, 23, 140); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;margin: 10px 5px;
background-color: rgb(255, 216, 231);}  
main {background-color: rgb(164, 50, 12); font-family: fantasy;text-align: center;} 
h1 {color: rgb(221, 65, 135);font-family: fantasy;text-align: center;} 
h2 {color: fuchsia; font-family: fantasy; text-align: center;}
h3 {color: hotpink;font-family: fantasy;}
param {color: rgb(248, 0, 186);font-style: italic;}
